*,
*::before,
*::after
{
	box-sizing: border-box;
}

:root
{
	--font-family: 'Roboto', sans-serif;
	--font-color: #000000;
	--extra-color: #2196F3;
	--font-p-color: #757575;
	--active-font: #ffffff;
	--footer-font-extra: rgba(255, 255, 255, 0.6);

}

body
{
	font-family: var(--font-family);
	margin: 0;


}

.section
{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}


header
{
	width: 100%;
	margin: 0 auto;
	height: 80px;
	background-color: var(--active-font);
	border-bottom: 1px solid #ECECEC;
}

span
{
	color: var(--extra-color);
}

.nav-links .link
{
	font-family: var(--font-family);
	color: var(--font-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;

}

.link:hover,
.link:active
{
	color: var(--extra-color);
}

.info-tel .linkmail,
.linkphone
{
	color: var(--font-p-color);
	text-decoration: none;
	line-height: 1.14;
}


.info-tel,
.linkphone:hover,
.info-tel,
.linkphone:active
{
	color: var(--extra-color);
}

.info-tel .linkmail:hover,
.info-tel .linkmail:active
{
	color: var(--extra-color);
}


.info-tel,
.nav-links,
.link,
.address,
.link-address
{
	font-weight: 500;
	text-decoration: none;
	font-size: 14px;
	list-style-type: none;
	line-height: 1.14;
}


.logo
{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: var(--font-color);
	text-decoration: none;
	line-height: 1.2;
	font-size: 24px;
	margin-right: 93px;
	margin-top: 24px;
	
}

.nav-links
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 46px;
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 0px;
}

.info-tel
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin-left: 371px;
}

.container
{

display: flex;
justify-content: center;
text-align: center;
max-width: 100%;
margin: 0 auto;

	
}
.main-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 600px;
	background-color: #2F303A;
	width: 100%;
}

.main-theme
{
	color: var(--active-font);
	width: 698px;
	height: 120px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	margin: 0 auto;
	
}

button
{
	font-weight: 700;
	font-size: 16px;
	width: 200px;
	height: 50px;
	color: var(--active-font);
	background-color: var(--extra-color);
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-color: var(--extra-color);
	line-height: 1.87;
	letter-spacing: 0.06em;
	margin-top: 30px;
}


.lorens-items
{
	display: flex;
	list-style-type: none;
	text-align: left;
	gap: 30px;
	width: 1170px;
	height: 101px;
	padding-left: 0;
	margin-top: 94px;

}

h4
{
	font-family: var(--font-family);
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
}

.item p
{
	font-family: var(--font-family);
	color: var(--font-p-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	gap: 30px;

}

.our-job
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	margin-top: 94px;
}

.pictures
{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin: 0 auto;
	width: 1200px;


}


h2
{
	font-family: var(--font-family);
	font-size: 36px;
	font-weight: 700;
	line-height: 1.16;
	letter-spacing: 0.03em;
}

.team-members
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 648px;
	background-color: #F5F4FA;
	margin-top: 94px;
	text-align: center;
}

.people
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;

}

.team
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font-family);
	font-size: 36px;
	font-weight: 700;
	line-height: 1.16;

}

.teamates
{
	display: block;
	background-color: var(--active-font);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	width: 270px;
	height: 368px;

}

.teamates img
{
	display: block;
	justify-content: center;
	align-items: center;
	margin: auto;
	border-radius: 0px 0px 4px 4px;
}

.topic
{
	display: block;
	margin: 0 auto;

}

.portfolioh4
{
	margin-left: 0;
}

footer
{
	padding: 0;
	background-color: #2F303A;
	
}

.footer
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 252px;
	width: 1200px;
	margin: 0 auto;
	text-align: left;
}


.footer .logo-web
{
	margin-bottom: 20px;
}


.link-address
{
	list-style-type: none;
	font-family: var(--font-family);
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	color: var(--footer-font-extra);
	line-height: 1.7;

}

.link-street
{
	list-style-type: none;
	font-family: var(--font-family);
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	color: var(--active-font);
	line-height: 1.7;
	text-decoration: none;


}

.logo-footer
{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: var(--active-font);
	text-decoration: none;
	font-style: normal;
	line-height: 1.2;
	font-size: 26px;
	letter-spacing: 0.03em;



}



.button-nav
{
	width: 100%;
	margin: 0 auto;
	list-style-type: none;
	border-radius: 4px;
	text-decoration: underline;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 174px;
	gap: 8px;
}

.buttonall
{
	width: 121px;
	height: 38px;
	background-color: #F5F4FA;
	border: 0;
	cursor: pointer;
	font-family: var(--font-family);
	color: var(--font-color);
	font-weight: 500;
	font-size: 16px;


}

.buttonweb
{
	width: 93px;
	height: 38px;
	background-color: #F5F4FA;
	border: 0;
	cursor: pointer;
	font-family: var(--font-family);
	color: var(--font-color);
	font-weight: 500;
	font-size: 16px;

}

.buttonapp
{
	width: 114px;
	height: 38px;
	border: 0;
	background-color: #F5F4FA;
	cursor: pointer;
	font-family: var(--font-family);
	color: var(--font-color);
	font-weight: 500;
	font-size: 16px;

}

.buttondiz
{
	width: 91px;
	height: 38px;
	border: 0;
	background-color: #F5F4FA;
	cursor: pointer;
	font-family: var(--font-family);
	color: var(--font-color);
	font-weight: 500;
	font-size: 16px;

}

.buttonmark
{
	width: 121px;
	height: 38px;
	border: 0;
	background-color: #F5F4FA;
	cursor: pointer;
	font-family: var(--font-family);
	color: var(--font-color);
	font-weight: 500;
	font-size: 16px;

}

.buttonall:hover,
.buttonall:active
{
	color: var(--active-font);
	background-color: var(--extra-color);
}

.buttonweb:hover,
.buttonweb:focus
{
	color: var(--active-font);
	background-color: var(--extra-color);
}

.buttonapp:hover,
.buttonapp:focus
{
	color: var(--active-font);
	background-color: var(--extra-color);
}

.buttondiz:hover,
.buttondiz:focus
{
	color: var(--active-font);
	background-color: var(--extra-color);
}

.buttonmark:hover,
.buttonmark:focus
{
	color: var(--active-font);
	background-color: var(--extra-color);
}


.link-p
{
	text-decoration: none;


}

.link-p img
{
	display: block;
}


.portfolioh4
{
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
	color: var(--font-color);
	margin: 0 auto;
	padding-top: 20px;
}

.portfolio-p
{
	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	color: var(--font-p-color);
}

.portfolioh4:hover,
.portfolioh4:focus
{
	color: var(--font-color);
	text-decoration-line: underline;
	text-decoration-color: var(--extra-color)
}

.portfolio-p:hover,
.portfolio-p:focus
{
	color: var(--font-p-color);
	text-decoration-line: underline;
	text-decoration-color: var(--extra-color);
}

.services
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	gap: calc(10%/3);
	margin-top: 50px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

}

.topic
{
	display: block;
	margin: 0 auto;
	width: 370px;
	height: 110px;
	border-bottom: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;

}




.template
{
	background: #ffffff;
	width: 370px;
	height: 404px;
	margin-bottom: 30px;

}


.topic .portfolioh4
{

	padding-left: 24px;

}

.topic .portfolio-p
{
	padding-left: 24px;

}